html {
  font-size: 62.5%;
  /* Gör basstorleken till 10 px */
}

body {
  font-size: 1.4rem;
  /* 10 * x px men relativ */
  background-color: rgb(112, 108, 108);
}

header {
  position: fixed;
  align-items: center;
  display: flex;
  list-style: none;
}

a img {
  width: 11rem;
  height: 11rem;
}

li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 12rem;
  color: white;
  /* color: black; */
}

a:visited {
  color: #ffffff;
  /* color: black; */
}

#huvudmeny {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color: rgba(240, 248, 255, 0);
}

body img {
  max-width: 98.8vw;
  margin-left: -1rem;
  margin-top: -1rem;
  margin-right: -0.5rem;
}

section figure img {
  max-width: 50vw;
  border-radius: 0.5rem;
}

figure {
  margin-left: 0rem;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

main section h1 {
  font-size: 3.8rem;
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin-left: 17rem;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

main section p {
  font-size: 1.7rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  max-width: 60rem;
  margin-left: 5rem;
}

section div {
  margin-left: 0rem;
}